#Parent{
    margin: 20px;
}

#Container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

th{
    color: #ffffff;
}

#links{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
