*{
    box-sizing: border-box;
}

body{
    overflow-x: auto;
}

#select{
    margin-bottom: 10px;
}

.FormContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.Parent{
    margin: 20px;
}

.itemOddContainer{
    display: flex;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.itemEvenContainer{
    display: flex;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;

}

.item{
    min-height: 100px;
    min-width: 100px;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

#Description{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    border: 2px solid black;
    padding: 5px;
    padding-right: 20px;
    width: fit-content;
}

.descriptionItem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#colorBox{
    margin-left: 10px;
    min-width: 15px;
    max-width: 15px;
    min-height: 15px;
    max-height: 15px;
    border: 1px solid black;
}



