*{
    box-sizing: border-box;
}

#break{
    flex-basis: 100%;
    height: 0;
}

.MonitorRoomContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.room{
    width: 100px;
    height: 100px;
    background-color:green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    font-size: 30px;
    color: white;
}

.roomAvailable{
    width: 100px;
    height: 100px;
    background-color:green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    font-size: 30px;
    color: white;
}

.roomNotAvailable{
    width: 100px;
    height: 100px;
    background-color:red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    font-size: 30px;
    color: white;
}
